{% extends "movies/layout.html" %}

{% block content %}

<h2>Add Movie</h2>

<form method="POST">
    {% csrf_token %}
    <input class="form-control mb-2" name="title" placeholder="Title">
    <input class="form-control mb-2" name="genre" placeholder="Genre">
    <input class="form-control mb-2" name="release_year" placeholder="Year">
    <input class="form-control mb-2" name="image" placeholder="Image URL">
    <textarea class="form-control mb-2" name="description" placeholder="Description"></textarea>

    <button class="btn btn-success">Add</button>
</form>

{% endblock %}
