{% extends "movies/layout.html" %}

{% block content %}

<h2 class="mb-4 text-center">🎬 All Movies</h2>

<div class="row">
    {% for movie in movies %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-lg h-100 border-0 rounded-4">

            {% if movie.image %}
            <img src="{{ movie.image }}" class="card-img-top" style="height:200px; object-fit:cover;">
            {% endif %}

            <div class="card-body text-center">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="text-muted">{{ movie.genre }} | {{ movie.release_year }}</p>

                <a href="{% url 'movies:movie_detail' movie.id %}" class="btn btn-primary rounded-pill px-4">
                    View
                </a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
