<h1>{{ movie.title }}</h1>

<img src="{{ movie.image }}" width="200">

<p>{{ movie.description }}</p>

<p>Genre: {{ movie.genre }}</p>
<p>Year: {{ movie.release_year }}</p>

<h3>Average Rating: {{ average|floatformat:1 }} ⭐</h3>

{% if user_rating %}
    <h3>Your Rating: {{ user_rating.score }} ⭐</h3>
{% endif %}

<hr>

<h3>Add Rating</h3>

<form method="POST">
    {% csrf_token %}
    
    <select name="score">
        <option value="1">1 ⭐</option>
        <option value="2">2 ⭐</option>
        <option value="3">3 ⭐</option>
        <option value="4">4 ⭐</option>
        <option value="5">5 ⭐</option>
    </select>

    <button type="submit">Submit</button>
</form>